.button-color-one {
  @extend %button;
}

.button-color-two {
  @extend %button;
  &:hover {
    background: $grey;
  };
}

.show-more {
  width: 40%;
  margin: 2% 0 0 0;
}

.move-down {
  margin: 2% 0 0 0;
  padding: .75%;
  float: right;
}
