// Color Variables
//////////////////
$red: #7D0D12;
$teal: #187972;
$grey: #999999;
$darker-grey: #707070;
$black: #000000;
$white: #F2F2F2;


// Typography Variables
///////////////////////
$quicks: 'Quicksand';
